<!-- <p>
    Navbar works!
</p> -->

<section class="abba">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="medicare" >Medicare</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="medicare">Home</a></li> 
        <li><a routerLink="#">Doctor</a></li>
        <li><a routerLink="viewmedicine">Medicine</a></li>
        <li><a routerLink="#">Lab Test</a></li>
        <li><a routerLink="cart">Cart</a></li>
        <!-- <li><a routerLink="insert">Insert Product</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
</section>
<router-outlet></router-outlet>