<!-- <p>medicarehome works!</p> -->
<section class="maincss">


<div class="card">
  <b><i><h1 class="card-header h1Css">Welcome To Medicare</h1></i></b>
  <div class="card-body">
    <p class="card-text"><b><i>100% Genuine Medicine From Medicare</i></b>
      <i> All medicines/healthcare products sold on Medicare Pharmacy are procured from our sister company - 
        Medicare Pharmacy, with a reputation of selling only <b><i> 100% genuine products</i></b>. The products sold through Medicare 
        Pharmacy are inspected thoroughly to ensure only genuine products make the cut. We believe that when it comes to medicines, quality 
        and authenticity should never be compromised.</i></p>
  </div>
</div>


<section>
    <hr class="header-hr">
    <div class="element">
        <a class="element1">Medicare Producut</a> |
        <a class="element1">Ayurveda</a> |
        <a class="element1">Baby Care</a> |
        <a class="element1">Covid Essentials</a> |
        <a class="element1">Health Device</a> |
        <a class="element1">Health Condition</a> |
        <a class="element1">Health & Nutrition</a> |
        <a class="element1">Personal Care</a> |
        <a class="element1">Pregnant</a> |
        <a class="element1">Women Care</a>   
    </div>
    <hr class="header-hr">

    <div class="container home4">
      <section>
        <b><i><h3>Shop By Cateogry</h3></i></b>
        <table>
          <tbody>
            <tr >
              <td>
                <img src="../../assets/m1.jpg" alt="" style="width: 100%;height: 150px;">
              </td>
              <td>
                <img src="../../assets/m2.jpg" alt="" style="width: 100%;height: 150px;">
              </td>
              <td>
                <img src="../../assets/m3.jpg" alt="" style="width: 100%;height: 150px;">
              </td>
              <td>
                <img src="../../assets/m4.jpg" alt="" style="width: 100%;height: 150px;">
              </td>
              <td>
                <img src="../../assets/m8.jpg" alt="" style="width: 100%;height: 150px;">
              </td>
              
            </tr>
            <tr>
              <td>Paracetamol</td>
              <td>Hydrocodone</td>
              <td>Metformin</td>
              <td>Losartan</td>
              <td>Antibiotics</td>
            </tr>
            <tr>
              <td><b>Price</b> {{49  | currency :'INR'}}</td>
              <td><b>Price</b> {{499 | currency :'INR'}}</td>
              <td><b>Price</b> {{399 | currency :'INR'}}</td>
              <td><b>Price</b> {{299 | currency :'INR'}}</td>
              <td><b>Price</b> {{199 | currency :'INR'}}</td>
            </tr>
            <tr>
              <td><button>Buy</button> <button><a href="cart">Cart</a></button></td>
              <td><button>Buy</button> <button> <a href="cart">Cart</a></button></td>
              <td><button>Buy</button> <button> <a href="cart">Cart</a></button></td>
              <td><button>Buy</button> <button> <a href="cart">Cart</a></button></td>
              <td><button>Buy</button> <button> <a href="cart">Cart</a></button></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
    <br>


<section>
        <div id="myCarousel" class="carousel slide home2" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../../assets/b2.png" alt="Los Angeles">
            </div>
        
            <div class="item">
              <img src="../../assets/b1.png" alt="Chicago">
            </div>
        
            <div class="item">
              <img src="../../assets/b3.png" alt="New York">
            </div>
            <div class="item">
              <img src="../../assets/b4.png" alt="Anjali">
            </div>
            <div class="item">
              <img src="../../assets/b5.png" alt="Shaw">
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
</section>
<br>
<section>
  <div class="search-container">
    <form #search="ngForm" (ngSubmit)="searchIt(search.value)">
      <input type="text" name="search" ngModel placeholder="Search...">
      <button type="submit">Submit</button>
    </form>
  </div>
</section>



<br>



<section>
  <div class="container home5">
    <div class="box1"> 
      <img src="../../assets/b6.png" alt="" style="height: 300px; width: 100%;">
    </div>
    <div class="box2">
      <!-- <button class="home6" he><a href="admin"></a> Admin Login</button> -->
      <a href="admin" class="home6">AdminLogin</a>
    </div>
  </div>
</section>

<!-- <section>
  <div class="container home7">
    <div class="box1">
      <h1>ffff</h1>
    </div>
    <div class="box2">
      <h1>ffff</h1>
    </div>
    <div class="box3">
      <h1>ffff</h1>
    </div>
    <div class="box4">
      <h1>ffff</h1>
    </div>
  </div>
</section> -->

<section>
  <h1 class="home12">List of medicine</h1>
  <div class="container">
    <hr>
    <div *ngFor="let CustomerItem of ProductArray">
      <div class="col-md-3" style="text-align: center;">
        <div class="col-md-3">
          <div class="card" style="width: 21rem;">
              <img class="card-img-top" src="{{CustomerItem.image}}" alt="Card image cap" style="height: 105px; width: 200px;">
              <b><h5 class="card-title">{{CustomerItem.medicinename}}</h5></b>
              <p class="card-text">{{CustomerItem.category | uppercase}}</p>
              <p>Price: {{CustomerItem.price |currency:'INR'}}</p>
              <a href="cart" (click)="addToCart(CustomerItem.id)" class="btn btn-primary home10">Buy</a> 
              <a href="cart" (click)="addToCart(CustomerItem.id)" class="btn btn-primary home11">Add to cart</a> 
            </div>
        </div>
      </div>
    </div>
  </div>
    <hr>
</section>

<section id="section-5" class="main-section">
  <div class="container home8">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="card">
          <div class="card-body home9">
            <div id="myCarousel" class="carousel slide home2" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="../../assets/b2.png" alt="Los Angeles">
                </div>
            
                <div class="item">
                  <img src="../../assets/b1.png" alt="Chicago">
                </div>
            
                <div class="item">
                  <img src="../../assets/b3.png" alt="New York">
                </div>
                <div class="item">
                  <img src="../../assets/b4.png" alt="Anjali">
                </div>
                <div class="item">
                  <img src="../../assets/b5.png" alt="Shaw">
                </div>
              </div>
            
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="parent">
  <div id="wide">Wide (rest of width)</div>
  <div id="narrow">Narrow (200px)</div>
</div>

<br>

<div id="parent">
  <div id="wide">Wide (rest of width)</div>
  <div id="narrow">Narrow (200px)</div>
</div>

</section>
</section>

<!-- <ul>
  <li *ngFor="let index of [0,1,2,3,4,5]">
    <p>{{ index }} Gandu</p>
  </li>
</ul> -->
<router-outlet></router-outlet>









